@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    font-size: 62.5%;
}

/*settings base*/
body {
    background-color: #000000;
    color: #B0B0B0;
    font-family: "Roboto Mono", monospace;
    padding: 0;
    margin: 0 auto;
    line-height: 3rem;
}

#container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0.5rem;
}

/*Font-sizes*/
h1 {
    font-size: 5rem;
}

h2 {
    font-size: 9.6rem;
}

h3 {
    font-size: 6rem;
}

p {
    font-size: 2rem;
}

label {
    font-size: 2rem;
}

button {
    font-size: 2rem;
}

header a {
    font-size: 2rem;
}

main a {
    font-size: 2rem;
}

footer p {
    font-size: 3.2rem;
}

footer a {
    font-size: 1.6rem;
}

/*Font styles*/
h1,
h2,
h3 {
    color: #F5F5F5;
    font-family: "Elsie", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 3rem;
    line-height: 4rem;
}

p {
    max-width: 70ch;
    color: #B0B0B0;
    font-family: "Roboto Mono", monospace;
    padding-left: 1rem;
    padding-right: 1rem;
}

main a {
    font-weight: 500;
    color: #F5F5F5;
    text-decoration: none;
}

#order-link a {
    font-weight: 500;
    color: #F5F5F5;
}

button {
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    margin-right: 1rem;
    margin-top: 1rem;
}

footer p {
    color: #F5F5F5;
    font-family: "Elsie", serif;
    font-weight: 400;
    font-style: normal;
}

span.letter-red {
    color: #C0392B;
}

/*CLASSES*/

/*button classes*/
.button-red {
    background-color: #8E2424;
    box-sizing: border-box;
    padding: 0.6rem;
    min-width: 130px;
    max-width: 130px;
    height: 50px;
    cursor: pointer;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
}

.button-red:hover {
    background-color: #b22d2d;
}

.button-black {
    background-color: #121212;
    box-sizing: border-box;
    padding: 0.4rem;
    min-width: 130px;
    max-width: 130px;
    height: 50px;
    cursor: pointer;
    color: white;
    text-align: center;
    border: 2px solid #8E2424;
    border-radius: 5px;
}

.button-black:hover {
    border-color: #b22d2d;
}

.button-black-add {
    background-color: #121212;
    box-sizing: border-box;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    margin: 0;
    cursor: pointer;
    color: white;
    border: 2px solid #8E2424;
    border-radius: 5px;
}

.button-black-add:hover {
    border-color: #b22d2d;
}

.a-button {
    display: inline-block;
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    color: #F5F5F5;
}

/*hidden class*/
.hidden {
    display: none;
}

/*spacer class*/
.separator {
    width: 100%;
    height: 1px;
    margin: 4rem 0;
}

/*span price class*/
.price {
    font-size: 4.8rem;
    color: #C0392B;
    font-family: "Elsie", serif;
    align-self: center;
}

.order-price {
    font-size: 3.6rem;
    color: #C0392B;
    font-family: "Elsie", serif;
    align-self: center;
}

/*smaller h3 class*/
.small-h3 {
    font-size: 3.6rem;
}

/*order h3 class*/
.order-h3 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
}

/*order p class*/
.order-p {
    font-size: 1.6rem;
}

/*error message class*/
.error-message {
    font-size: 2rem;
}

/*allergy p class*/
.menu-allergy {
    font-size: 1.6rem;
}

/*loader class*/
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #C0392B;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: loading 1s linear infinite;
    margin: 2rem auto;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*navigation*/
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: -5px;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 1em;
    text-align: center;
    color: #F5F5F5;
}

.active-page {
    border-bottom: 2px solid #C0392B;
}

#order-link a {
    text-decoration: none;
    color: #F5F5F5;
}

/*Grid settings header*/
header {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 58% 20%;
    align-items: center;
    gap: 1%;
}

.logotype {
    justify-self: center;
}

.main-nav {
    justify-self: center;
}

#order-link {
    justify-self: center;
}

/*Settings BESTÄLL buttom*/
#order-link ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#order-link li {
    display: inline-block;
    margin-right: 1rem;
}

#order-link a {
    display: block;
    text-decoration: none;
    padding: 0.6rem;
    text-align: center;
    color: #F5F5F5;
}

header .button-red {
    margin-right: 0px !important;
}

/*settings footer*/
footer {
    display: flex;
    gap: 1%;
    align-items: center;
    justify-content: space-between;
}

footer nav ul {
    display: flex;
    gap: 2px;
}

/*Settings main*/
main {
    background-color: #121212;
    padding: 1%;
}

.text-center {
    text-align: center;
}

/*FORM SETTINGS*/

input[type="text"] {
    font-size: 2rem;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    color: #F5F5F5;
    background-color: #1E1E1E;
    border-radius: 5px;
    border: 1px solid #B0B0B0;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1);
}

select {
    font-size: 2rem;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    color: #F5F5F5;
    background-color: #1E1E1E;
    border-radius: 5px;
    border: 1px solid #B0B0B0;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1);
}

textarea {
    font-size: 2rem;
    padding: 10px;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    color: #F5F5F5;
    background-color: #1E1E1E;
    border-radius: 5px;
    border: 1px solid #B0B0B0;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1);
}

input[type="password"] {
    font-size: 2rem;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    color: #F5F5F5;
    background-color: #1E1E1E;
    border-radius: 5px;
    border: 1px solid #B0B0B0;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1);
}

input[type="number"] {
    font-size: 2rem;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    color: #F5F5F5;
    background-color: #1E1E1E;
    border-radius: 5px;
    border: 1px solid #B0B0B0;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
    font-size: 2rem;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    color: #F5F5F5;
    background-color: #1E1E1E;
    border-radius: 5px;
    border: 1px solid #B0B0B0;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1);
}

/*li buttons main*/
ul.buttons-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.buttons-list li {
    display: inline-block;
    margin-right: 1rem;
}

ul.buttons-list a {
    display: block;
    text-decoration: none;
    padding: 0.6rem;
    text-align: center;
    color: #F5F5F5;
}

/*GRIDS*/
/*grid main home*/
#home section {
    max-width: 100%;
    display: grid;
    grid-template-columns: 64% 35%;
    gap: 1%
}

#main-image {
    grid-area: 1 / 2 / 2 / 3;
}

/*grid main table*/
#table section {
    max-width: 100%;
    display: grid;
    gap: 1%;
    justify-content: center;
}

/*grid main contact*/
#contact section {
    max-width: 100%;
    display: grid;
    gap: 1%;
    justify-content: center;
}

/*grid main allergy*/
#allergy section {
    max-width: 100%;
    display: grid;
    gap: 1%;
    justify-content: center;
}

/*grid main login*/
#login section {
    max-width: 100%;
    display: grid;
    gap: 1%;
    justify-content: center;
}

/*HOME-PAGE*/
/*img main home*/
#home img {
    width: 100%;
    height: auto;
}

/*MENU-PAGE*/
main#menu section {
    max-width: 100%;
    display: grid;
    gap: 1%;
}

main#menu section p.menu-intro {
    justify-self: center;
}

/*grid settings article menu*/
main#menu section div article {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: 90%;
    gap: 1%;
    margin-bottom: 4rem;
    padding: 2rem;
    border-radius: 5px;
    justify-self: center;
    align-content: center;
}

#menu span.price {
    justify-self: end;
}

.menu-description {
    grid-area: 2 / 1 / 3 / 2;
}

.menu-allergy {
    grid-area: 3 / 1 / 4 / 2;
}

/*CONTACT-PAGE*/
/*img main contact*/
#contact-image img {
    width: 100%;
    height: auto;
}

/*ORDER-PAGE*/

main#order section {
    max-width: 100%;
    gap: 1%;
    display: grid;
}

.order-intro {
    justify-self: center;
    margin-bottom: 2rem;
}

/*grid main order section div*/
main#order section div {
    max-width: 96%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 4%;
    row-gap: 1%;
    justify-content: center;
}

/*grid settings article order*/
main#order section div article {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 4rem;
    padding: 2rem;
    border-radius: 5px;
    justify-self: center;
}

main#order section div article img {
    grid-area: 1 / 1 / 2 / 3;
    width: 100%;
    height: auto;
}

main#order section div article h3 {
    grid-area: 2 / 1 / 3 / 3;
}

main#order section div article p {
    grid-area: 3 / 1 / 4 / 3;
}

main#order section div article span {
    grid-area: 4 / 1 / 5 / 2;
    justify-self: start;
}

main#order section div article button {
    grid-area: 4 / 2 / 5 / 3;
    justify-self: end;
    align-self: center;
    font-size: 3rem;
}

/*ALLERGY-PAGE*/
/*ul li allergy*/
#allergy ul li {
    font-size: 1.6rem;
    color: #B0B0B0;
    font-family: "Roboto Mono", monospace;
    margin-bottom: 1rem;
}

/*img allergy*/
#allergy-image img {
    width: 100%;
    height: auto;
}

/*ADMIN-PAGE*/
main#admin #admin-result article {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 1%;
    max-width: 98%;
    box-sizing: border-box;
    margin-bottom: 4rem;
    padding: 2rem;
    border: 1px solid #CBCBCB;
    border-radius: 5px;
}

/*grid settings admin article*/
main#admin article h3 {
    grid-area: 1 / 1 / 2 / 2;

}

main#admin article span {
    grid-area: 1 / 2 / 2 / 3;
}

main#admin article .admin-description {
    grid-area: 2 / 1 / 3 / 3;
}

main#admin article .admin-category {
    grid-area: 3 / 1 / 4 / 3;
}

main#admin article .admin-allergy {
    grid-area: 4 / 1 / 5 / 3;
}

main#admin article img {
    grid-area: 5 / 1 / 6 / 3;
    padding-bottom: 2rem;
}

main#admin article div {
    grid-area: 6 / 1 / 7 / 3;
    padding-bottom: 8rem;
}

@media screen and (max-width: 800px) {
    #container {
        padding: 0px;
    }

    /*Font-sizes*/
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 6rem;
    }

    h3 {
        font-size: 3.6rem;
    }

    p {
        font-size: 1.6rem;
    }

    label {
        font-size: 1.6rem;
    }

    button {
        font-size: 2rem;
    }

    header a {
        font-size: 2rem;
    }

    main a {
        font-size: 2rem;
    }

    footer p {
        font-size: 2.2rem;
    }

    footer a {
        font-size: 1.6rem;
    }

    h1,
    h2,
    h3 {
        line-height: 3rem;
    }

    /*font classes sizes*/
    /*span price class*/
    .price {
        font-size: 3.6rem;
    }

    /*smaller h3 class*/
    .small-h3 {
        font-size: 2.8rem;
    }

    /*order h3 class*/
    .order-h3 {
        font-size: 3rem;
    }

    .order-p {
        font-size: 1.6rem;
    }

    /*error message class*/
    .error-message {
        font-size: 1.6rem;
    }

    /*settings navigation*/
    .main-nav {
        display: none;
    }

    nav li {
        display: block;
    }

    .active-page {
        background-color: #C0392B;
    }

    .container-navbar {
        width: 100vw;
        background-color: #121212e6;
        border: 1px solid #b5b5b533;
        border-radius: 20px;
        position: fixed;
        bottom: -30px;
        z-index: 1;
    }

    #hamburger-bottom {
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        height: 70px;
        cursor: pointer;
        padding: 1em;
        justify-self: center;
    }

    .bar {
        width: 100px;
        height: 5px;
        border-radius: 5px;
        background-color: #b5b5b5b3;
        margin: 4px 0;
        align-self: center;
    }

    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    header {
        padding: 1rem;
        grid-template-columns: 40% 59%;
    }

    .logotype {
        justify-self: start;
    }

    #order-link {
        justify-self: end;
    }

    main {
        padding-bottom: 10rem;
        padding-left: 2%;
        padding-right: 2%;
    }

    /*settings footer*/
    footer {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 5rem;
        margin-bottom: 10rem;
    }

    footer nav ul {
        flex-direction: column;
        gap: 2px;
    }

    /*settings home*/
    #main-image {
        display: none;
    }

    /*GRIDS*/
    /*grid main home*/
    #home section {
        grid-template-columns: 1fr;
    }

    /*MENU-PAGE*/
    /*grid settings article menu*/
    main#menu section div article {
        padding: 0.5rem;
    }

    main#menu .menu-description {
        grid-area: 2 / 1 / 3 / 3;
    }

    main#menu .menu-allergy {
        grid-area: 3 / 1 / 4 / 3;
        font-size: 1.2rem;
    }

    /*grid main order section div*/
    main#order section div {
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    /*ADMIN-PAGE*/
    main#admin #admin-result article {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
}

@media screen and (max-width: 400px) {
    h2 {
        font-size: 4.5rem;
    }
}